
<div class="well docs-menu col-xs-12 col-sm-4 col-md-3">
    {% include search_form.html %}
    <ul class="nav nav-list">
        <li>
            <a href="{{ site.baseurl }}/docs/whats_new.html">What's New</a>
        </li>
        <li class="nav-header">Overview</li>
        <li>
            <a href="{{ site.baseurl }}/docs/overview.html">Overview</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/requirements.html">Requirements</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/planning.html">Planning your Migration</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/best_practices.html">Best Practices</a>
        </li>

        <li class="nav-header">Using the SDK</li>
        <li>
            <a href="{{ site.baseurl }}/docs/installation.html">Installing the SDK</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/migration_tasks.html">Migration Tasks</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/troubleshooting.html">Troubleshooting</a>
        </li>
        
        <li class="nav-header">Example Code</li>

        <li href="{{ site.baseurl }}/docs/dot_net_app.html">Writing a .NET Application</li>
        <li href="{{ site.baseurl }}/docs/python_app.html">Writing a Python Application</li>

        <li class="nav-header">Reference</li>
        <li>
            <a href="{{ site.baseurl }}/docs/architecture.html">Architecture</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/api_reference.html">.NET SDK</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/docs/python_sdk.html">Python SDK</a>
        </li>
           <li>
		    <a href="{{ site.baseurl }}/docs/help_about.html">About Tableau Help</a>
		   </li>
        
    </ul>
</div>
